.solar-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.solar-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.solar-button:hover {
  background-color: #0056b3;
}

.solar-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.solar-details h2 {
  color: #333;
}

.solar-details ul {
  list-style-type: none;
  padding: 0;
}

.solar-details li {
  background-color: #f4f4f4;
  padding: 5px;
  margin-bottom: 5px;
}
.solar-details h3{
  background-color: aqua;
}
.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 5px;
}

.login-container input {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-container button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to top right, #5d7914, #004d40);
  color: #fbc100;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  background-color: rgba(158, 17, 17, 0.685);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(92, 146, 21, 0.801);
}
